<div class="header">
    <div class="header-left">
        <a href="index-2.html" class="logo">
            <img src="/img/logo.png" width="35" height="35" alt=""> <span>DASHBOARD</span>
        </a>
    </div>
    <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
    <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
    <ul class="nav user-menu float-right">


        <li class="nav-item dropdown has-arrow">
            <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                <span class="user-img">
                    <img class="rounded-circle" src="/img/user.jpg" width="24" alt="Admin">
                    <span class="status online"></span>
                </span>
                <span>Anh Tuấn</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="profile.html">My Profile</a>
                <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
                <a class="dropdown-item" href="settings.html">Settings</a>
                <a class="dropdown-item" href="login.html">Logout</a>
            </div>
        </li>
    </ul>
    <div class="dropdown mobile-user-menu float-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                class="fa fa-ellipsis-v"></i></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="profile.html">My Profile</a>
            <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
            <a class="dropdown-item" href="settings.html">Settings</a>
            <a class="dropdown-item" href="login.html">Logout</a>
        </div>
    </div>
</div>
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title"></li>
                <li {{#ifEquals  title "HOME"}} class="active" {{/ifEquals}}>
                    <a href="home"><i class="fa fa-dashboard "></i> <span>Tổng quan</span></a>
                </li>
                <li {{#ifEquals title "DOCTOR"}} class="active" {{/ifEquals}}>
                    <a href="doctors"><i class="fa fa-user-md"></i> <span>Danh sách bác sĩ</span></a>
                </li>
                <li {{#ifEquals title "PATIENT"}} class="active" {{/ifEquals}}>
                    <a href="patients"><i class="fa fa-wheelchair"></i> <span>Danh sách bệnh nhân</span></a>
                </li>
                <li {{#ifEquals  title "MEDICINE"}} class="active" {{/ifEquals}}>
                    <a href="medicine"><i class="fa fa-plus-square"></i> <span>Danh sách thuốc</span></a>
                </li>

                <li {{#ifEquals  title "SETTING"}} class="active" {{/ifEquals}}>
                    <a href="settings.html"><i class="fa fa-cog"></i> <span>Cài đặt</span></a>
                </li>

            </ul>
        </div>
    </div>
</div>