<!DOCTYPE html>
<html lang="en">


<!-- patients23:17-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href=" /img/favicon.ico">
    <title>Preclinic - Medical & Hospital - Bootstrap 4 Admin Template</title>
    <link rel="stylesheet" type="text/css" href=" /css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href=" /css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href=" /css/select2.min.css">
    <link rel="stylesheet" type="text/css" href=" /css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href=" /css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href=" /css/style.css">
    <!--[if lt IE 9]>
		<script src=" /js/html5shiv.min.js"></script>
		<script src=" /js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        {{> sidebar}}

        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Danh sách bệnh nhân</h4>
                    </div>
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <a href="add-patient.html" class="btn btn btn-primary btn-rounded float-right"><i
                                class="fa fa-plus"></i> Thêm </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-border table-striped custom-table datatable mb-0">
                                <thead>
                                    <tr>
                                        <th>Tên</th>
                                        <th>Tuổi</th>
                                        <th>Địa chỉ</th>
                                        <th>Số điện thoại</th>
                                        <th>Email</th>
                                        <th class="text-right"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each patients}}
                                    <tr>
                                        <td><img width="28" height="28" src=" /img/user.jpg"
                                                class="rounded-circle m-r-5" alt=""> {{name}}</td>
                                        <td>{{age}}</td>
                                        <td>{{address}}</td>
                                        <td>{{phone}}</td>
                                        <td>{{email}}</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                                    aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="edit-patient.html"><i
                                                            class="fa fa-pencil m-r-5"></i> Sửa</a>
                                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                                        data-target="#delete_patient"><i
                                                            class="fa fa-trash-o m-r-5"></i> Xoá</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="delete_patient" class="modal fade delete-modal" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <img src=" /img/sent.png" alt="" width="50" height="46">
                        <h3>Chắc chắn xoá chứ ?</h3>
                        <div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Đóng</a>
                            <button type="submit" class="btn btn-danger">Xoá</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src=" /js/jquery-3.2.1.min.js"></script>
    <script src=" /js/popper.min.js"></script>
    <script src=" /js/bootstrap.min.js"></script>
    <script src=" /js/jquery.slimscroll.js"></script>
    <script src=" /js/select2.min.js"></script>
    <script src=" /js/jquery.dataTables.min.js"></script>
    <script src=" /js/dataTables.bootstrap4.min.js"></script>
    <script src=" /js/moment.min.js"></script>
    <script src=" /js/bootstrap-datetimepicker.min.js"></script>
    <script src=" /js/app.js"></script>
</body>


<!-- patients23:19-->

</html>